*:not('input') {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:'transparent';
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
a.caretA{
    padding:10px;
}
.caret{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.caret.open{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.selected{
    background:cyan;
    color:white;
}
ul{
    background:white;
    color:black;
}
li{
    float:left;
    clear:both;
    margin:3px 0;
}
body{
    font-size:16px;
}
pre{
    display: block;
    padding: 0;
    margin: 0;
    float:left;
    width:100%;
}
.simpleHide{
    display:none;
}
.iterateNode-sanitize-key{

}
.iterateNode-sanitize-key-value{

}
.iterateNode-sanitize-key-typeof-value{

}
.iterateNode-sanitize-key-typeof{

}
.iterateNode-sanitize-separator1{

}